/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* inizio general */

body{
    background-color: rgb(224, 224, 224);
}

/* fine general */

/* inizio header */

header{
    background-color: white;
    padding: 5px 10px;
    margin-bottom: 50px;
}

h1{
    display: inline-block;
}

header h1, header img{
    vertical-align: middle;
}

/* fine header */

/* inizio main */

main{
    width: 80%;
    margin: auto;
}

.container{
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 50px; 
    border: 1px solid rgb(224, 224, 224);
}

.buttons{
    margin-bottom: 2px;
}

.main-button{
    border-radius: 5px;
    padding: 5px 8px;
    border-color: white;
    background-color: white;
}

#special-button{
    background-color: lightblue;
    color: white;
    border-color: lightblue;
}