/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* inizio general */

body{
    background-color: rgb(224, 224, 224);
}

li{
    padding-left: 5px;
    list-style: none;
    margin-bottom: 20px;
}

/* fine general */

/* inizio header */

header{
    background-color: white;
    padding: 5px 10px;
    margin-bottom: 50px;
}

h1{
    display: inline-block;
}

header h1, header img{
    vertical-align: middle;
}

/* fine header */

/* inizio main */

main{
    width: 80%;
    margin: auto;
}

.container{
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 50px; 
    border: 1px solid rgb(224, 224, 224);
}

.buttons{
    margin-bottom: 2px;
}

.main-button{
    border-radius: 5px;
    padding: 5px 8px;
    border-color: white;
    background-color: white;
}

#special-button{
    background-color: lightblue;
    color: white;
    border-color: lightblue;
}

#list-container{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

.check{
    border-radius: 50%;
    border: 1px solid grey;
    color: grey;
    display: inline-block;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
}

.done{
    border-color: green;
    color: green;
}

.not-done{
    border-color: red;
    color: red;
}

.list-box{
    padding: 5px 15px;
    border-radius: 20px;
    color: white;
    font-size: 13px;
}

#lightblue-list-box{
    background-color: lightblue;
}

#purple-list-box{
    background-color: purple;
}

#green-list-box{
    background-color: green;
}

#orange-list-box{
    background-color: orange;
}

#pink-list-box{
    background-color: pink;
}

#lightgreen-list-box{
    background-color: lightgreen;
}

/* fine main */